Problem 1.
Write a program that asks the user for their name and age, then prints a sentence like:
Hello Shradha, you are 21 years old!

In [1]:
print('Hello Shradha, you are 21 years old!')

Hello Shradha, you are 21 years old!

Problem 2. Take two numbers as input from the user and print their sum, difference, product, and quotient.

In [2]:
digit1 = int(input("Enter digit 1: "))
digit2 = int(input("Enter digit 2: "))
sum = digit1 + digit2
sub = digit1 - digit2
mul = digit1 * digit2
div = digit1 / digit2
modulo = digit1 % digit2
print(sum)
print(sub)
print(mul)
print(div)
print(modulo)

Enter digit 1: 15
Enter digit 2: 5
20
10
75
3.0
0

problem 3. Ask the user to enter two integers and one float. Convert them all to floats and print their average.

In [5]:
int_one = int(input("Enter your first integer: "))
int_two = int(input("Enter your second integer: "))
fl = float(input("Enter float: "))
int_one = float(int_one)
int_two = float(int_two)
print(int_one)
print(int_two)
avg = (int_one + int_two + fl4)/3
print(avg)

Enter your first integer: 15
Enter your second integer: 25
Enter float: 4.36
15.0
25.0
14.786666666666667

The user enters a string containing a number (e.g. "45" ). Convert it to:
•
an integer
•
a float
•
a string again
Print all three values with their types.

In [8]:
dig = input("Enter a digit in a string format: ")
int_one = int(dig)
fl_one = float(dig)
dig_str = str(dig)
print(type(dig))
print(int_one)
print(type(int_one))
print(fl_one)
print(type(fl_one))
print(dig_str)
print(type(dig_str))

Enter a digit in a string format: 45
<class 'str'>
45
<class 'int'>
45.0
<class 'float'>
45
<class 'str'>

In [9]:
x = 10 + 3 * 2 ** 2
print(x)

22

Problem6. Write a program to swap values of two numbers entered by the user.

In [10]:
val_one = 15
val_two = 100
print(f"Before swap val_one: {val_one}")
print(f"Before swap val_two: {val_two}")
tmp = val_one
val_one = val_two
val_two = tmp
print(f"After swap val_one: {val_one}")
print(f"After swap val_two: {val_two}")

Before swap val_one: 15
Before swap val_two: 100
After swap val_one: 100
After swap val_two: 15

Problem8. Ask the user for a temperature in Celsius (string input). Convert it to , then calculate and print temperature in Fahrenheit.
Conversion formula: FahrenheitTemp = (CelsiusTemp ∗ (9/5)) + 32

In [13]:
celcius = float(input("Enter the temparature in celcius: "))
farenheit = (celcius*(9/5))+ 32
print(farenheit)

Enter the temparature in celcius: 36
96.8

Problem9. Take the radius (r) as user input and print the area.

In [15]:
rad = int(input("Enter the radius value: "))
pi = 3.1416
area = pi*(rad**2)
print(area)

Enter the radius value: 3
28.2744

Take a decimal number as input (like ) and output its:
•
integer part - • 45
fractional part -.78

In [26]:
digit = float(input("Enter a float value: "))
first_half = int(digit)
second_half = round((digit - first_half),2)
print(first_half)
print(second_half)

Enter a float value: 45.78
45
0.78